/*Score*/
$life-good: #4caf50;
$life-danger: #f44336;

/*Resultados*/
$win: #1b5e20;
$lose: #b71c1c;

/*Botões*/
$new-game: #9c27b0;
$attack: #b71c1c;
$especial-attack: #3f51b5;
$heal: #0277bd;
$give-up: #e65100;